<header class="app-header main-container flex align-center">
  <div class="logo">
    <h1 routerLink="/">Uvote</h1>
  </div>
  <ul class="flex align-center">
    <li routerLink="/create" class="create-btn">Create Poll</li>
    <li routerLink="/poll">Discover</li>
    <li *ngIf="loggedInUser">Dashboard</li>
    <li (click)="onLogout()" *ngIf="loggedInUser">Logout</li>
    <li *ngIf="!loggedInUser" routerLink="/login">Login</li>
    <li *ngIf="!loggedInUser" routerLink="/signup">Sign up</li>
  </ul>
</header>
