.app-header {
  background-color: #fff;
  position: relative;
  height: 40px;
  margin-bottom: 30px;
  .logo {
    flex-grow: 1;
    font-family: Quicksand-SemiBold;

    h1 {
      width: max-content;
      cursor: pointer;
      letter-spacing: 0.8px;
      font-size: rem(30px);
    }
  }

  ul {
    li {
      cursor: pointer;
    }

    li:last-of-type {
      margin-left: 10px;
    }
  }
}
