* {
  box-sizing: border-box;
}

::selection {
  background-color: $secondary-color;
}

html {
  font-family: Quicksand, sans-serif;
  line-height: normal;
  font-size: 14px;
  scroll-behavior: smooth;
  color: $txt;
  background-color: $bg-color;
}

body {
  font-family: Quicksand, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  width: 100%;
}

a {
  color: inherit;

  &:visited {
    color: inherit;
  }
}
ul {
  margin: 0;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
body {
  background-color: #f8f8f8;
}
a {
  text-decoration: none;
}

button:active {
  color: white;
  border-color: white;
}

input,
textarea {
  width: 200px;
  outline: none;
}

input,
select {
  padding: 5px;
  padding-left: none;
  border: unset;
  background: unset;
  border-bottom: 1px solid black;
}
pre {
  margin: 0;
}
