@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/mixins";

.signup-container {
    min-height: calc(100vh - 40px);
    background-color: #fff;
    background-image: url("../../../assets/imgs/Sea\ of\ Clouds-10s-1536px.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .signup-rabbit {
        position: absolute;
        z-index: 1;
        background-image: url("../../../assets/imgs/signup-rabbit.svg");
        width: 250px;
        height: 250px;
        background-position: center;
        background-size: cover;
        background-color: transparent;
        fill: transparent;
        left: 50%;
        transform: translate(-50%, -50%);
        top: -12%;
    }
    form {
        @include login-signup-container;
        position: relative;
    }
}
