@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/mixins";

.signup-container {
    min-height: calc(100vh - 40px);
    background-color: #fff;
    background-image: url("../../../assets/imgs/Sea\ of\ Clouds-10s-1536px.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .signup-rabbit {
        @include wave-rabbit;
    }
    form {
        @include login-signup-container;
        position: relative;

        @media (max-width: 600px) {
            &:focus-within {
                .signup-rabbit {
                    width: 120px;
                    height: 80px;
                    top: 3%
                }
            }
        }
    }
}
