@import "../../../assets/styles/setup/variables";

.poll-app {
  padding-top: 30px;

  .ngx-pagination {
    padding-left: 0 !important;

    .current {
      background: $secondary-color;
    }
  }
  
}
