@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";

.poll-details {
  padding-top: 30px;

  background-image: url("../../../assets/imgs/layered-waves-haikei.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;

  min-height: 100vh;
  position: relative;

  .poll-container {
    height: 100%;
  }
  .main-poll-info {
    margin: 0 auto rem(30px) auto;
    width: 600px;
    min-height: 55vh;

    h2 {
      font-size: 4rem;
      font-family: Quicksand-Bold, sans-serif;
      font-weight: 400;
    }
    .error {
      text-align: center;
      color: $err-color;
      font-family: Quicksand, sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      margin-bottom: 8px;
    }
    .poll-settings {
      margin: 4px 0 0 18px;
      background-color: darken($bg-color, 8%);
      border-radius: 50%;
      width: 31px;
      height: 31px;
      cursor: pointer;

      transition: background-color 0.2s;

      &:hover {
        background-color: darken($bg-color, 10%);
      }
      i {
        font-size: 1.3rem;
        position: relative;

        .popover-content {
          width: 215px;
          position: absolute;
          top: 40px;
          left: -50%;
          transform: translateX(-50%);
          box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 1px 3px 0 rgba(0, 0, 0, 0.12);
        }
      }
    }
    .poll-description {
      font-size: 1.1rem;
    }
    .votes-count {
      margin-bottom: 3px;
    }

    .actions {
      margin-bottom: rem(75.25px);
      padding-left: 1px;
      .toggle {
        position: relative;
        flex-basis: 80%;

        a {
          text-underline-offset: 4px;
          text-decoration: underline;
          text-decoration-color: transparent;

          transition: all .2s;
          &:hover {
            text-decoration-color: $txt;
          }
        }

      }
    }

    form {
      .option-txt {
        flex-grow: 1;
        font-size: 1.5rem;
        font-family: Quicksand-SemiBold, sans-serif;
      }
      .option-percent {
        color: $txt;
        margin-right: 8px;
      }
      .option-votes {
        margin-right: 5px;
      }

      margin-top: 15px;
      min-width: 370px;
      .burmanRadio {
        margin-bottom: 10px;
        border-radius: 3px;
        padding: 5px 10px;
        background-color: #eee;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        width: 400px;
        height: 60px;

        transition: background-color 0.2s;

        &:hover {
          background-color: $cta-color;
        }
        &.input {
          display: none;

          &:checked ~ label::after {
            opacity: 1;
            transform: scale(1);
          }
        }

        label {
          cursor: pointer;
          line-height: 30px;
          position: relative;
          margin-left: 35px;
          display: inline-block;
          width: 100%;
          font-size: 1.1rem;

          &::before,
          &::after {
            border-radius: 50%;
            position: absolute;
            top: 5px;
            left: -35px;
            transition: all 0.3s ease-out;
            z-index: 2;
          }

          &::before {
            content: "";
            border: 1.5px solid $secondary-color;
            width: 20px;
            height: 20px;
          }

          &::after {
            content: "\f26b";
            background: $primary-color;
            border: 1.5px solid $primary-color;
            color: #fff;
            font-family: "Material-Design-Iconic-Font";
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            width: 20px;
            height: 20px;
            transform: scale(0);
          }

          &:hover {
            &::before {
              border-color: $primary-color;
            }
          }
        }
      }
    }
  }

  .info {

    margin: 0 auto 155px auto;
    background-color: $bg-color;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .flying-rabbit {
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 1;
    background-image: url("../../../assets/imgs/flying-rabbit.svg");
    width: 350px;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    fill: transparent;
  }
}
