@import "../../../assets/styles/setup/variables";
.poll-details {
  margin-top: 30px;
  .main-poll-info {
    h2 {
      font-size: 3rem;
    }
    .poll-settings {
      // margin-left: 18px;
      margin: 4px 0 0 18px;
      background-color: darken($bg-color, 8%);
      border-radius: 50%;
      width: 31px;
      height: 31px;
      cursor: pointer;

      transition: background-color 0.2s;

      &:hover {
        background-color: darken($bg-color, 10%);
      }
      i {
        font-size: 1.3rem;
        position: relative;

        .popover-content {
          width: 215px;
          position: absolute;
          top: 40px;
          left: -50%;
          transform: translateX(-50%);
          box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        }
      }
    }
    .poll-description {
      font-size: 1.1rem;
    }
    .votes-count {
      margin-bottom: 3px;
    }

    .actions {
      .toggle {
        position: relative;
        span {
          margin-left: 8px;
          position: relative;
          top: -2px;
        }
      }
    }

    form {
      .option-txt {
        flex-grow: 1;
        font-family: Quicksand-SemiBold, sans-serif;
      }
      .option-percent {
        color: $txt;
        margin-right: 8px;
      }
      .option-votes {
        margin-right: 35px;
      }

      margin-top: 15px;
      min-width: 370px;
      .burmanRadio {
        margin-bottom: 10px;
        border-radius: 3px;
        padding: 5px 10px;
        background-color: #eee;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        transition: background-color 0.2s;

        &:hover {
          background-color: $cta-color;
        }
        &__input {
          display: none;

          &:checked ~ .burmanRadio__label::after {
            opacity: 1;
            transform: scale(1);
          }
        }

        &__label {
          cursor: pointer;
          line-height: 30px;
          position: relative;
          margin-left: 35px;
          display: inline-block;
          width: 100%;
          font-size: 1.1rem;

          &::before,
          &::after {
            border-radius: 50%;
            position: absolute;
            top: 4px;
            left: -35px;
            transition: all 0.3s ease-out;
            z-index: 2;
          }

          &::before {
            content: "";
            border: 1.5px solid $secondary-color;
            width: 20px;
            height: 20px;
          }

          &::after {
            content: "\f26b";
            background: $primary-color;
            border: 1.5px solid $primary-color;
            color: #fff;
            font-family: "Material-Design-Iconic-Font";
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            width: 20px;
            height: 20px;
            transform: scale(0);
          }

          &:hover {
            &::before {
              border-color: $primary-color;
            }
          }
        }
      }
    }
  }
}
