@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/mixins";

.login-container {
    min-height: calc(100vh - 40px);
    background-image: url("../../../assets/imgs/blob-scene-haikei.svg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    form {
        @include login-signup-container;
        position: relative;
        .login-rabbit {
            @include wave-rabbit;
        }
        h2 {
            align-self: center;
            color: $err-color;
            font-family: Quicksand-light;
            font-size: 1.3rem;
            margin-bottom: 5px;
        }
    }
    @media (max-width: 600px) {
        background-position: left;
    }
}
