// Colors
$primary-color: #1b2330;
$secondary-color: #181f2b;
$quote-color: #202a3c;
$footer-color: #0b1524;
$txt: #fff;
// Breakpoints
$mobile-breakpoint: 480px;
$narrow-breakpoint: 768px;
$normal-breakpoint: 1400px;
