// Colors
$primary-color: #007eff;
$secondary-color: #4faaf8;
$bg-color: #fafafa;
$light-color: #999bac;
$dark-blue: #05204a;
$txt: #333;
$dark-txt: #0b090a;
$cta-color: #3bd975;
$err-color: #f14668;
// Breakpoints
$mobile-breakpoint: 480px;
$narrow-breakpoint: 768px;
$normal-breakpoint: 1400px;
