<section class="user-profile">
  <div class="container flex column align-center justify-center">
    <div class="heading flex align-center">
      <div [style.background-color]="user.logoColor" class="logo">
        <span>{{ user.name.charAt(0) }}</span>
      </div>
      <div class="info-container flex">
        <span class="username flex column"
          >{{ user.name }}
          <div class="country flex">
            <img
              *ngIf="user.flag"
              class="user-country"
              [src]="user.flag"
              [alt]="user.country"
              [title]="user.country"
            />
            <img
              *ngIf="!user.flag"
              src="../../../assets/imgs/question-mark.svg"
              title="Unknown Country"
            />
          </div>
        </span>
        <div class="count-container">
          <div class="polls-count flex column justify-center">
            <h3>{{ totalPolls || 0 }}</h3>
            <p>Polls created</p>
          </div>
        </div>
      </div>
    </div>
    <div class="user-polls">
      <poll-list
        *ngIf="user.polls.length"
        (onPageChange)="handlePageChange($event)"
        [polls]="user.polls"
        [listTitle]="listTitle"
        [totalItems]="totalPolls"
        [currPage]="pageNumber"
        paginatorSize="5"
      ></poll-list>
      <p class="default-msg" *ngIf="!user.polls.length">
        {{ user.name }} didn't create any public polls yet
      </p>
    </div>
  </div>
</section>
