@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";

.user-profile {
    padding-top: 30px;
    .container {
        width: 980px;
        margin: 0 auto;

        @media (max-width: 980px) {
            width: 100%;
        }

        & > * {
            width: 100%;
        }
        .heading {
            margin-bottom: rem(30px);
            width: 500px;

            @media (max-width: 520px) {
                width: 90%;
            }
            .logo {
                width: 125px;
                height: 125px;
                border-radius: 50%;
                margin-right: 0.9rem;
                position: relative;
                float: left;
                shape-outside: circle();

                span {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    text-transform: capitalize;
                    font-size: 4.5rem;
                    color: $white;
                }

                @media (max-width: 520px) {
                    width: 70px;
                    height: 70px;

                    span {
                        font-size: 3rem;
                    }
                }
            }
            .info-container {
                flex-basis: 73%;
            }
            .username {
                font-size: 2rem;
                font-family: Quicksand-Bold, sans-serif;
                flex-basis: 75%;
                @media (max-width: 520px) {
                    font-size: 1.8rem;
                }
            }
            .country {
                align-self: flex-start;
                .user-country {
                    width: 25px;
                    height: 25px;
                    margin-left: 5px;
                    align-self: flex-start;
                }
            }
            .polls-count {
                h3 {
                    font-size: 2rem;
                    text-align: center;
                }
                p {
                    text-align: center;
                }
            }
        }
        .user-polls {
            .default-msg {
                text-align: center;
                font-size: 2rem;
                font-family: Quicksand-SemiBold, sans-serif;
                letter-spacing: 0.8px;
                line-height: 1.7;
            }
        }
    }
}
