@import "../../../assets/styles/setup/functions";
@import "../../../assets/styles/setup/variables";
.poll-list {
    width: 600px;
    margin: 0 auto;
    @media screen and (max-width: 630px) {
        width: 90%;
    }
    .list-header {
        margin-bottom: rem(15px);
        h3 {
            font-family: Quicksand-SemiBold;
            font-weight: 400;
            font-size: 2rem;
            letter-spacing: 0.8px;
            line-height: 1.7;
            padding-left: 2px;
            margin-bottom: 5px;
            @media screen and (max-width: 480px) {
                font-size: 1.7rem;
                text-align: center;
            }
        }
        .p-dropdown:not(.p-disabled).p-focus {
            box-shadow: none !important;
        }
    }
}

.pagination {
    margin-bottom: 1rem;
    .ngx-pagination {
        padding-left: 0 !important;
        margin-bottom: 0 !important;
        text-align: center;

        .current {
            background: $secondary-color;
        }
    }
}
