@import "../../../assets/styles/setup/variables";
@import "../../../assets/styles/setup/functions";
.results {
    width: 1140px;
    min-height: 50vh;
    margin: 0 auto;
    padding-top: 30px;
    .heading {
        h2 {
            font-size: 4rem;
            font-family: Quicksand-Bold, sans-serif;
            font-weight: 400;
            margin-bottom: 3px;
            text-align: center;

            @media (max-width: 1080px) {
                font-size: 3rem;
                margin-bottom: 8px;
            }
        }
        span {
            font-size: 1.3rem;
        }
    }

    .graphical-info {
        width: 100%;
        margin-bottom: 15vh;
        .text-info {
            width: 50%;
            margin-bottom: 20px;
            word-break: break-word;
            .container {
                width: 100%;
            }
            .option-heading {
                margin-bottom: 4px;
                .option-txt {
                    align-self: flex-start;
                    font-family: Quicksand-SemiBold, sans-serif;
                    font-size: 1.2rem;
                }
                .option-percent {
                    align-self: flex-end;
                    margin-left: 5px;
                }
            }
            .progress-bar {
                width: 100%;
                height: 15px;
                background-color: darken($bg-color, 5%);
                border: 1px solid #ccc;
                margin-bottom: 3px;
                .progress-percent {
                    display: inline-block;
                    height: 100%;
                }
            }
        }
        .charts {
            margin-left: 15px;
            .votes-chart {
                margin-bottom: 15px;
            }
        }

        @media (max-width: 1080px) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            .text-info {
                width: 80%;
            }
            .charts {
                flex-direction: column;
                align-items: center;
                margin-left: 0;
            }
        }
    }

    .back-btn {
        font-size: 1.1rem;
        margin-bottom: 8px;

    }

    @media (max-width: 1200px) {
        width: 90%;
    }
}
.info {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 160px;
    background-image: url("../../../assets/imgs/layered-waves-haikei.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
